<!doctype html>
<html>
<head>
<title>Jan says: "Hello World!"</title>
<meta charset="utf-8" />

<link rel="stylesheet" type="text/css" href="../library/bootstrap/css/bootstrap.min.css"></link>
<link rel="stylesheet" type="text/css" href="../library/onepage-scroll.css"></link>
<link rel="stylesheet" type="text/css" href="../library/style.css"></link>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="../library/jquery.onepage-scroll.min.js"></script>
<script type="text/javascript" src="../library/bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
		var content = $(".content");
		var home = $("#homelnk");
		var aboutme = $("#aboutmelnk");
		var shenanigans = $("#shenaniganslnk");

		home.click(function(e) {
			e.preventDefault();
			document.title = "Home";
			content.moveTo(1);
		});
		aboutme.click(function(e) {
			e.preventDefault();
			document.title = "About Me";
			content.moveTo(2);
		});
		shenanigans.click(function(e) {
			e.preventDefault();
			document.title = "Shenanigans";
			content.moveTo(3);
		});

		content.onepage_scroll({
			sectionContainer : "section",
			easing : "ease",

			animationTime : 1000,
			pagination : true,
			updateURL : false,
			beforeMove : function(index) {
			},
			afterMove : function(index) {
			},
			loop : false,
			keyboard : false,
			responsiveFallback : false,

			direction : "vertical"
		});
	});
</script>
</head>
<body>

	<div class="content">
		<section class="page" id="home">
			<div class="container">
				<div class="jumbotron">
					<div class="col-md-offset-1 col-md-10">
						<h1>Welcome to my homepage.</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-offset-1 col-md-10">
						
					</div>
				</div>
			</div> 
		</section>

		<section class="page" id="aboutme">
			<div class="container">
				<div class="jumbotron">
					<div class="col-md-offset-1 col-md-10">
						<h1>About Me</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-offset-1 col-md-10">
						<br /><br />Hello World!<br />Let me introduce myself: I'm a Jan! <br />I study in a
						technological influenced university in Giessen, Germany.
					</div>
				</div>
			</div> 
		</section>
		<section class="page" id="shenanigans">
			<div class="container">
				<div class="jumbotron">
					<div class="col-md-offset-1 col-md-10">
						<h1>Shenanigans</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-offset-1 col-md-10">
						<br /><br />To be implemented.
					</div>
				</div>
			</div> 
		</section>
	</div>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a id="homelnk" class="navbar-brand"><i
					class="glyphicon glyphicon-home"></i>Jan Sladek</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a id="aboutmelnk">About Me</a></li>
					<li><a id="shenaniganslnk">Shenanigans</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a id="impressumlnk" href="impressum.html">Impressum</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>



</body>
</html>
