body {
	background-color: #EEEEEE;
}

.navbar, .navbar-default, .form-control, .btn {
	border-radius: 0;
}

.navbar {
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	background-color: #000;
	border: 0; margin: 0;
}

.navbar-nav li a {
	color: #fff !important;
}

.navbar-nav li a:hover {
	color: #aaa !important;
}

.navbar-brand {
	color: #fff !important;
}


.navbar-brand:hover {
	color: #aaa !important;
}

.navbar-brand i {
	font-size: 22px !important; 
	line-height: 22px !important; 
	vertical-align: middle !important;
	margin-right: 8px;
}

.content {
	margin-top: 50px;
}

.content .page {
	text-align: center;	
}

a {
	cursor: pointer;
}
